<template name="loginOrRegister">
    <div class="login-or-register">
        <form class="login-form">
            <input id="login-username-or-email" type="text" placeholder="Username" class="form-control">
            <input id="login-password" type="password" placeholder="Password" class="form-control">
            <input class="btn btn-primary col-xs-12 col-sm-12"
                   type="submit"
                   id="login-buttons-password"
                   value="Sign In" />
        </form>
        <div id="login-other-options" class="login-other-options">
            <a id="forgot-password-link" class="pull-left">Forgot Password?</a>
            <a id="signup-link" class="pull-right">Create Account</a>
        </div>
    </div>
</template>
