<template name="nav">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'splashLanding'}}">
                    <i class="fa fa-flask"></i>
                    <span class="txt">CoLabs</span>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {{> navLinks}}
                </ul>
                <ul class="login-button-list">
                    {{#if currentUser}}
                        {{> profileNavLink}}
                        {{> signOutButton}}
                    {{else}}
                        <li>
                            {{> loginButton 'facebook' }}
                        </li>
                        <li>
                            {{> loginButton 'google' }}
                        </li>
                        <li>
                            {{> loginButton 'twitter' }}
                        </li>
                        <li>
                            {{> loginButton 'linkedin' }}
                        </li>
                        <li>
                            {{> loginButton 'github' }}
                        </li>
                        <li>
                            {{> signInButton }}
                        </li>
                    {{/if}}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</template>

<template name ="navLinks">
    <li id="splashLanding">
        <a href="{{pathFor 'splashLanding'}}">
            <i class="fa fa-home"></i>
            <span class="txt">Home</span>
        </a>
    </li>
    <li id="search">
        <a href="{{pathFor 'search'}}">
            <i class="fa fa-search"></i>
            <span class="txt">Search</span>
        </a>
    </li>
    {{#if isLoggedIn}}
        <li id="profileLanding">
            <a href="{{pathFor 'profileLanding'}}">
                <i class="fa fa-user"></i>
                <span class="txt">Profile</span>
            </a>
        </li>
        {{#if isVerifiedUser}}
            <li id="projectsLanding">
                <a href="{{pathFor 'projectsLanding'}}">
                    <i class="fa fa-folder"></i>
                    <span class="txt">Projects</span>
                </a>
            </li>
        {{/if}}
        <li id="inboxLanding">
            <a href="{{pathFor 'inboxLanding'}}">
                <i class="fa fa-envelope"></i>
                <span class="txt">Inbox</span>
            </a>
        </li>
        <li id="notificationsLanding">
            <a href="{{pathFor 'notificationsLanding'}}">
                <i class="fa fa-bell"></i>
                <span class="txt">Notifications</span>
            </a>
        </li>
        <!-- TODO: If admin -->
        <li id="adminLanding">
            <a href="{{pathFor 'adminLanding'}}">
                <i class="fa fa-shield"></i>
                <span class="txt">Admin</span>
            </a>
        </li>
    {{/if}}
</template>

<template name="profileNavLink">
    <li>Logged in as {{username}}</li>
</template>

<template name="loginButton">
    <button class="btn btn-xs btn-contrast">
        <i class="fa fa-{{this}}"></i>
    </button>
</template>