.login-button-list {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.login-button-list li {
    margin: 1.5rem;
}

.login-button-list .fa {
    color: #fff;
}

.navbar-fixed-top li {
    display: inline-block;
}

.dropdown-menu {
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-collapse > ul {
    display: inline-block;
}
