<template name="about">
    <h1>About CoLabs</h1>
    <!-- TODO: Some image banner I guess -->
    <p>
        In short, CoLabs is a place for creative collaboration.
    </p>
    <p>
        If you have an idea for something, but know you can't do it alone, this is the place for you.
        Create a project based around your idea and then either invite users with similar interests or let users find you and ask to join.
    </p>
    <p>
        CoLabs was created using meteor.js and uses only a few basic packages.
    </p>
</template>