html {
    font-size: 62.5%;
}

body {
    padding: 50px;
    margin-top: 3rem;
}

.login-or-register .login-other-options * {
    color: #eee;
    margin: 1rem;
}

.navbar-nav {
    margin: 0;
}

.login-button-list {
    float: right;
    margin: 0;
}

.login-button-list li {
    margin: 1rem;
    color: #fff;
}

.searchChoice {
    min-width: 20rem;
    max-width: 100rem;
    margin: 2rem;
    width: 40%;
    display: inline-block;
}

.searchChoice a {
    width: 100%;
}

.btn-contrast {
    background: inherit;
    color: #fff;
}

.fa-checkbox.fa-checkbox {
    margin: 0 auto;
    padding: 1.85rem;
    margin-left: -0.3rem;
}

.fa-checkbox .fa {
    top: 0.7rem;
}

p {
    word-break: break-word;
}