.login-button-list {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.login-button-list li {
    margin: 1.5rem;
}

.navbar-fixed-top li {
    display: inline-block;
}

.dropdown-menu {
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-collapse > ul {
    display: inline-block;
}

/*
@media all and (max-width:1200px)  {
    
    .navbar-toggle {
        display: block;
    }
    
    .navbar-header {
        width: 100% !important;
    }
    
    .navbar-collapse.collapse {
        display: none !important;
    }
    
    .navbar-collapse.collapse.in {
        float: left;
    }

    .navbar-collapse {
        overflow-x: visible !important;
    }

    .navbar-collapse.in {
      overflow-y: auto !important;
    }

    .collapse.in {
      display: block !important;
    }
    
}
*/