<template name="searchResults">
    <h3>Search Results</h3>
    {{#each filterResults}}
        {{#if notLoggedInUser this}}
        <div class="filterResult">
            <ul class="resultAttributes">
            {{#with this}}
                <li class="attribute">{{name}}</li>
                <li class="attribute">{{tags}}</li>
            {{/with}}
            </ul>
            {{#if isUser this}}
            <a class="btn btn-default messageButton" href="{{pathFor 'inboxLanding'}}" id="messageContact" value="{{this._id}}">Message</a>
            {{/if}}
            {{#if ../multipleSelection}}
            <input type="checkbox" value="{{_id}}" class="selectedUserCheckbox">
            {{/if}}
        </div>
        {{/if}}
    {{/each}}
</template>