<template name="searchFilter">
    <h2>Search Filter</h2>
    <div class="filter">
        <label>Name</label>
        <input type="text" id="nameSearchFilter" name="nameSearchFilter" placeholder="Enter name" value="{{name}}">
        <input type="submit" id="nameClearFilter" value="Clear">
    </div>
    <div class="filter">
        <label>Tags</label>
        <input type="text" id="searchFilter" name="searchFilter" placeholder="Enter search terms" value="{{tags}}">
        <input type="submit" id="clearFilter" value="Clear">
    </div>    
</template>

<template name="searchTypeSelectors">
    <div class="filter">
            <label>Type</label>
            <input class="typeSelector" type="radio" name="type" value="users">Users
            <input class="typeSelector" type="radio" name="type" value="projects">Projects
            <input class="typeSelector" type="radio" name="type" value="both">Both
        </div>
</template>