<template name="profileLanding">
    {{>nav}}
    <div class="col-sm-4">
        <div class="col-item">
            {{#with user}}
            <div class="photo">
                <img src="/images/profile/{{avatar}}" class="img-responsive" alt="a" />
            </div>

            <div class="info">
                <div class="row">
                    <div class="price col-md-6">
                        <h5>
                            <p>Username:{{username}}</p>
                        </h5>
                        <h5>
                            <p>Name:{{firstName}}</p>
                        </h5>
                        <h5>
                            <p>Email: {{firstEmail this}}</p>
                        </h5>
                        <h5 class="">
                            <p>Age:{{age}}</p>
                        </h5>
                        <h5 class="">
                            Current Tags:
                            <br>
                            <ul>
                                {{#each interests}}
                                <li>
                                    {{this}}
                                </li>
                                {{/each}}
                            </ul>
                        </h5>
                    </div>
                </div>
            </div>
            <br>
            <br>
            {{/with}}
            <a class="btn btn-default" href="{{pathFor 'profileEdit'}}">Edit Profile</a>
        </div>
    </div>
</template>