<template name="profileLanding">
    {{>nav}}
    <br>
    <br>
    <div class="col-sm-4">
        <div class="col-item">
            {{#with user}}
                {{#if avatar}}
                    <div class="photo">
                        <img src="/images/profile/{{avatar}}" class="img-responsive" alt="a" />
                    </div>
                {{else}}
                    <p><em>You have no profile picture, click 'Edit Profile' to upload one.</em></p>
                {{/if}}

                <hr />

                <div class="info">
                    <div class="row">
                        <div class="price col-lg-6">
                            <h4>Username</h4>
                            <p>{{username}}</p>
                            <hr />

                            <h4>Email</h4>
                            {{#if firstEmail}}
                                <p>{{firstEmail}}</p>
                            {{/if}}
                            <hr />

                            <h4>Name</h4>
                            {{#if firstName}}
                                <p>{{firstName}}</p>
                            {{else}}
                                <p><em>Click 'Edit Profile' to add your name.</em></p>
                            {{/if}}
                            <hr />

                            <h4>Age</h4>
                            {{#if age}}
                                <p>{{age}}</p>
                            {{else}}
                                <p><em>Click 'Edit Profile' to add your age.</em></p>
                            {{/if}}
                            <hr />

                            <h4>
                                <i class="fa fa-tags"></i>
                                <span class="txt">Current Tags</span>
                            </h4>
                            {{#if interests}}
                            <ul>
                                {{#each tags}}
                                <li>
                                    {{this}}
                                </li>
                                {{/each}}
                            </ul>
                            {{else}}
                                <p><em>Click 'Edit Profile' to add tags so that others can find you!</em></p>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <br>
            {{/with}}
            <a class="btn btn-default" href="{{pathFor 'profileEdit'}}">Edit Profile</a>
            <button id="sendNotificationButton"
                class="btn btn-default"
                name="sendNotificationButton">
                    Send Notification
            </button>
            <!-- TODO Resend verification email, only show if not verified -->
            {{!
            <h5>Verify</h5>
            <hr />
            <p><em>
                If you've lost your email to verify, you can resend it here.
                Verified users can create projects, request to be added to a project, and more!
            </em></p>
            }}
        </div>
    </div>
</template>