<template name="profileLanding">
    {{>nav}}
    <div class="col-sm-4">
        <div class="col-item">
            {{#with user}}
                {{#if avatar}}
                    <div class="photo">
                        <img src="/images/profile/{{avatar}}" class="img-responsive" alt="a" />
                    </div>
                {{else}}
                    <p><em>You have no profile picture, click 'Edit Profile' to upload one.</em></p>
                {{/if}}

                <hr />

                <div class="info">
                    <div class="row">
                        <div class="price col-lg-6">
                            <h4>Username</h4>
                            <p>{{username}}</p>
                            <hr />

                            <h4>Email</h4>
                            <p>{{firstEmail}}</p>
                            <hr />

                            <h4>Name</h4>
                            {{#if firstName}}
                                <p>{{firstName}}</p>
                            {{else}}
                                <p><em>Click 'Edit Profile' to add your name.</em></p>
                            {{/if}}
                            <hr />

                            <h4>Age</h4>
                            {{#if age}}
                                <p>{{age}}</p>
                            {{else}}
                                <p><em>Click 'Edit Profile' to add your age.</em></p>
                            {{/if}}
                            <hr />

                            <h4>Current Tags</h4>
                            {{#if interests}}
                            <ul>
                                {{#each tags}}
                                <li>
                                    {{this}}
                                </li>
                                {{/each}}
                            </ul>
                            {{else}}
                                <p><em>Click 'Edit Profile' to add tags so that others can find you!</em></p>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <br>
            {{/with}}
            <a class="btn btn-default" href="{{pathFor 'profileEdit'}}">Edit Profile</a>
        </div>
    </div>
</template>