<template name="profileLanding">
    {{>nav}}
    <div class="col-sm-4">
        <div class="col-item">
            {{#with user}}
            <div class="photo">
                <img src="/images/profile/{{avatar}}" class="img-responsive" alt="a" />
            </div>

            <div class="info">
                <div class="row">
                    <div class="price col-md-6">
                        <h5>
                            <p>Username:{{username}}</p>
                        </h5>
                        <h5>
                            <p>Name:{{firstName}}</p>
                        </h5>
                        <h5>
                            <p>Email:{{emails[0].address}}</p>
                        </h5>
                        <h5 class="">
                            <p>Age:{{age}}</p>
                        </h5>
                        <h5 class="">
                            <ul>
                                {{#each interests}}
                                <li>
                                      <p>{{this}}</p>
                                </li>
                                {{/each}}
                            </ul>
                        </h5>
                        <h2>
                            Debugging crap:{{log}}
                        </h2>
                    </div>
                </div>
            </div>
            {{/with}}
        </div>
    </div>
</template>