.login-button-list {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.login-button-list li {
    margin: 1.5rem;
}



.pointer {
    cursor: pointer;
}

.navbar-toggle .icon-bar:hover {
    color: #ddd;
}



.profile-nav-display {
    float: left;
    margin-left: 1rem;
}

.profile-nav-display .txt {
    position: relative;
    top: -1rem;
    color: #fff;
}

.txt-username {
    margin-left: 3.4rem;
}

.dropdown-menu {
    position: fixed;
    top: 0;
    left: 0;
}

.navbar-collapse > ul {
    display: inline-block;
}

.navbar-avatar {
    display: inline-block;
}

.navbar-fixed-top li {
    display: inline-block;
    width: auto;
}

.navbar-fixed-top li i {
    font-size: initial;
}

@media all and (max-width:1200px) {
    .navbar-fixed-top li {
        display: inline-block;
        width: 40vw;
    }
    
    .navbar-fixed-top li i {
        font-size: 4vw;
    }
    
    .nav a .txt {
        position: absolute;
        top: 25%;
        margin-left: 5%;
    }
    
    .nav a .badge {
        position: absolute;
        bottom: 5%;
        left: 1%;
    }
}

/*
@media all and (max-width:1200px)  {
    
    .navbar-toggle {
        display: block;
    }
    
    .navbar-header {
        width: 100% !important;
    }
    
    .navbar-collapse.collapse {
        display: none !important;
    }
    
    .navbar-collapse.collapse.in {
        float: left;
    }

    .navbar-collapse {
        overflow-x: visible !important;
    }

    .navbar-collapse.in {
      overflow-y: auto !important;
    }

    .collapse.in {
      display: block !important;
    }
    
}
*/