<template name="notificationsLanding">
    {{>nav}}
    <br>
    {{#each notifications}}
    <div class="col-sm-12">
        <div class="col-item">
            <div>
                <h5>
                    <inline class=" col-md-6 " block>
                        <div class="col-sm-2">Type:   {{type}}</div>
                        <div class="col-sm-2">Date:   {{date}}</div>
                        <div class="col-sm-2">Sender: {{sender}}</div>
                    </inline>
                </h5>
            </div>
        </div>
    </div>
    {{/each}}
</template>